@page "/consoleSimple"

<PageTitle>Console Demo</PageTitle>

<h1>Console Simple Demo</h1>
<a href="console">Empty Char</a>
<a href="consoleWide">Wide Char</a>
<WebConsole @ref="@_webConsole" OnLoaded="@InitApp"></WebConsole>
