@page "/consoleScrolling"

<PageTitle>Console Demo</PageTitle>

<h1>Console Scrolling Demo</h1>
<a href="consoleSimple">Simple Char</a>
<a href="consoleWide">Wide Char</a>
<a href="consoleProgress">Progress</a>
<WebConsole @ref="@_webConsole" OnLoaded="@InitAppAsync"></WebConsole>
