@page "/console"

<PageTitle>Console Demo</PageTitle>

<h1>Console Demo</h1>
<a href="consoleSimple">Simple Char</a>
<a href="consoleWide">Wide Char</a>
<a href="consoleScrolling">Scrolling</a>
<a href="consoleProgress">Progress</a>
<a href="consoleThreading">Threading</a>
<a href="consoleMdi">Mdi</a>
<a href="consoleDialogs">Dialogs</a>
<a href="consoleMenu">Menu</a>
<a href="consoleBeep">Beep</a>
<WebConsole @ref="@_webConsole" OnLoaded="@InitAppAsync"></WebConsole>
