@page "/consoleProgress"

<PageTitle>Console Demo</PageTitle>

<h1>Console Demo</h1>
<a href="consoleScrolling">Scrolling</a>
<a href="consoleWide">Wide Char</a>
<WebConsole @ref="@_webConsole" OnLoaded="@InitApp"></WebConsole>
