@page "/consoleMdi"

<PageTitle>Console Demo</PageTitle>

<h1>Console Mdi Demo</h1>
<a href="consoleSimple">Simple Char</a>
<a href="consoleThreading">Threading</a>
<WebConsole @ref="@_webConsole" OnLoaded="@InitApp"></WebConsole>
