@page "/"

<PageTitle>Console Demo</PageTitle>

<h1>HACC Console Demo</h1>

This is a demo of a Terminal.Gui and Spectre.Console compatible web console.

Check out the <a href="console">Demo</a>!

